.static-action {
  text-align: right !important;
}

.static-filter-dropdown {
  padding: 8px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.static-filter-dropdown input {
  width: 180px;
  margin-right: 8px;
}

.highlight {
  color: #f50;
}
